<nav class="navbar navbar-expand-md navbar-dark <%= request.path == "/nyhistory" ? "bg-light-subtle" : "bg-dark" %> topbar" aria-label="<%= aria_label %>">
  <div class="<%= container_classes %>">
    <% if request.path == "/nyhistory" %>
      <a class="navbar-brand" href="https://www.nyhistory.org/library"><%= image_tag "nyh.png", height: 24 %></a>
    <% else %>
      <a class="navbar-brand" href="https://library.nyu.edu"><img src="https://cdn.library.nyu.edu/images/nyulibraries-logo.svg" width="192" alt="NYU Libraries homepage"></a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#user-util-collapse" data-bs-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>

<%= render Blacklight::BreadcrumbsComponent.new(request: request, repository: params[:repository]) %>
